@font-face {
    font-family: 'Courier-Prime';
    src: url('../assets/fonts/Courier-Prime.ttf');
}

main {
    font-family: 'Courier-Prime', monospace;
    margin: 0 auto;
    width: 900px;
    padding: 15px;
    box-sizing: border-box;
}

h3 {
    line-height: 25px;
    margin: 0;
    padding-left: 12px;
    color: #474747;
}

hr {
    height: 4px;
    width: 75px;
    border-width: 0;
    background-color: #474747;
    margin: 5px 0 20px 12px;
    float: left;
}

section {
    clear: both;
    overflow: hidden;
    width: 420px;
}

figure {
    width: 140px;
    height: 140px;
    margin: 0;
    float: left;
    position: relative;
    padding: 12px;
    box-sizing: border-box;
}

figure img {
    width: 100%;
    box-sizing: border-box;
}

figure p {
    font-size: 10px;
    font-weight: bold;
    text-align: right;
    color: #fff;
    margin: 0;
    position: absolute;
    bottom: 20px;
    right: 20px;
}